@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

ul {
  @apply list-disc;
}

ul ul {
  @apply list-circle;
}

.syntax-h {
  background: #1c2930 !important;
}
.syntax-h code {
  background: #1c2930 !important;
}

.cky-consent-container .cky-consent-bar {
  box-shadow: none !important;
}
